.accountpage {
  height: 100vh;
  width: 100vw;
  background-color: rgb(9, 4, 15);
  font-family: 'mitr', sans-serif;
  font-style: normal;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.accountpage .container-account {
  padding: 20px 60px;
  margin: 0;
  height: 100%;
  width: 100%;
}

.accountpage .content-account {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 24px 48px;
  background: linear-gradient(45deg, #a58edb, rgb(142, 184, 210));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 12px;
}

.accountpage .account-header {
  display: flex;
  justify-content: space-between;
}

.accountpage .return-btn {
  font-size: 30px;
  color: rgba(17, 7, 30, 0.8);
  cursor: pointer;
}

.accountpage .header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.accountpage .icon-user {
  font-size: 30px;
  color: rgb(9, 4, 15);
  padding: 6px;
  border-radius: 50%;
  background-color: white;
}

.accountpage .dataUser {
  display: flex;
  justify-content: space-between;
  width: 65vw;
}

.accountpage .win-zone {
  display: flex;
  justify-content: space-between;
  width: 40vw;
}

.accountpage .acctable {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.acctable .difficulty {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
}

.acctable .difficulty-btn {
  border-radius: 50px;
  background-color: rgba(17, 7, 30, 0.8);
  padding: 8px 16px;
  color: #FFFF;
}

.acctable .difficulty-btn:active {
  scale: 0.95;
}

.acctable .difficulty-btn-active {
  border-radius: 50px;
  background-color: #5254D8;
  padding: 8px 16px;
  color: #FFFF;
}

.accountpage table {
  width: 100%;
  height: 100%;
}

.accountpage .pagination {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.accountpage .pageNumber-btn {
  border-radius: 16px;
  background-color: rgba(17, 7, 30, 0.8);
  padding: 4px 8px;
  color: #FFFF;
}

.accountpage .pageNumber-btn-active {
  border-radius: 16px;
  background-color: #5254D8;
  padding: 4px 8px;
  color: #FFFF;
}