@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300&display=swap');

.homepage {
  height: 100vh;
  width: 100vw;
  background-color: rgb(9, 4, 15);
}

.homepage .account-pic {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: end;
  top: 3%;
  right: 2%;
  width: 4rem;
  height: 4rem;
  color: white;
}

.homepage .account-pic:hover {
  color: #7091F5;
}

.homepage .Box {
  width: 100%;
  height: 100%;
}

.homepage .difficulty {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.homepage .difficulty h3 {
  font-family: 'mitr', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  color: #FFFF;
}
.homepage .difficulty h3:after {
  display:block;
  content: '';
  border-bottom: solid 2px white;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.homepage .difficulty h3:hover {
  color: #7091F5;
}
.homepage .difficulty h3:hover:after {
  transform: scaleX(1);
}

.homepage .Line {
  width: 90%;
  border: 1px solid;
  height: 0.3%;
  position: absolute;
  bottom: 2.5%;
  left: 5%;
  background-color: #FFFF;
  color: #FFFF;
}