@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300&display=swap');

.homepage {
  height: 100vh;
  width: 100vw;
  background-color: rgb(9, 4, 15);
}

.homepage .account{
  width: 5%;
  height: 10%;
  position: absolute;
  top: 3%;
  right: 2%;
  display: flex;
  flex-direction: row-reverse;
  z-index: 1;
  gap: 10px;
  align-items: center;
  z-index: 1;
}

.homepage .account-pic {
  display: flex;
  justify-content: end;
  width: 4rem;
  height: 4rem;
  color: white;
}

.homepage .logout{
  color: aliceblue;
  display: none;
  border: 0px solid ;
  border-radius: 10px;
  background-color: #7091F5;
  padding: 10px 30px;
}

.homepage .logout:hover {
  background-color: #7091F5;
  border-bottom: solid 2px white;  
  transition: transform 250ms ease-out;
}

.account:hover .logout{
  display: inline-block;
}

.account:hover .account-pic{
  color: #7091F5;
}

.homepage .account .account-pic:hover  {
  color: #7091F5;
}


.homepage .Box {
  width: 100%;
  height: 100%;
}

.homepage .difficulty {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.homepage .difficulty h3 {
  font-family: 'mitr', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  color: #FFFF;
}
.homepage .difficulty h3:after {
  display:block;
  content: '';
  border-bottom: solid 2px white;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.homepage .difficulty h3:hover {
  color: #7091F5;
}
.homepage .difficulty h3:hover:after {
  transform: scaleX(1);
}

.homepage .Line {
  width: 90%;
  border: 1px solid;
  height: 4px;
  position: absolute;
  bottom: 2.5%;
  left: 5%;
  background: linear-gradient(45deg, #a58edb, rgb(142, 184, 210));
}