.leaderboard {
    height: 100vh;
    width: 100vw;
    background-color: #7091F5;
    font-family: 'mitr', sans-serif;
    font-style: normal;
}

.container-leaderboard {
    padding: 60px;
    margin: 0 auto;
    
}
.contant{
    border-radius: 20px;
    padding: 10px 50px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.title {
    text-align: center;
    font-size: 48px;
    text-shadow: 0px 4px 4px rgba(155, 155, 155, 0.3);
}

.difficulty {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 28px;
}

.difficulty-btn {
    border-radius: 50px;
    background-color: #7091F5;
    padding: 3px 10px;
    box-shadow: 1px 2px 4px 1px #c5c5c5;
    color: #FFFF;
}
.difficulty-btn-active {
    border-radius: 50px;
    background-color: #5254D8;
    padding: 3px 10px;
    box-shadow: 1px 2px 4px 1px #c5c5c5;
    color: #FFFF;
}
.tablescore {
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}
table{
    width: 100%;
    padding-top: 40px;
    border-radius: 50px;
    box-shadow: 1px 2px 4px 1px #c5c5c5;
    border: 1px;
}

thead {
    font-size: 24px;
    
    
}

thead tr  th{
    padding: 10px 0px;
    

}

tbody{
    text-align: center;
    font-size: 20px;
    
    
}

.tablerow td {
    padding: 8px 0px;
    
}

.right {
    border: rgb(212, 212, 212) solid;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

tr td {
    border: rgb(212, 212, 212) solid;
    border-left: 0px;
    border-bottom: 0px;
}

.noright {
    border: rgb(212, 212, 212) solid;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

.pagination {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-left: 10px;
    margin-top: 8px;
}

.pageNumber-btn{
    border-radius: 15px;
    background-color: #7091F5;
    padding: 2px 8px;
    box-shadow: 1px 2px 4px 1px #c5c5c5;
    color: #FFFF;
}

.pageNumber-btn-active{
    border-radius: 15px;
    background-color: #5254D8;
    padding: 2px 8px;
    box-shadow: 1px 2px 4px 1px #c5c5c5;
    color: #FFFF;
}
