.leaderboard {
  height: 100vh;
  width: 100vw;
  background-color: rgb(9, 4, 15);
  font-family: 'mitr', sans-serif;
  font-style: normal;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.leaderboard .container-leaderboard {
  padding: 20px 60px;
  margin: 0;
  height: 100%;
  width: 100%;
}

.leaderboard .content {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 24px 48px;
  background: linear-gradient(45deg, #a58edb, rgb(142, 184, 210));
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 12px;
}

.leaderboard .title {
  text-align: center;
  font-size: 48px;
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: bold;
  position: relative;
}

.leaderboard .return-btn {
  font-size: 30px;
  color: white;
  position: absolute;
  top: 12px;
}

.leaderboard .Returnbtn:hover {
  color:#5254D8;
}

.leaderboard .Maintitle {
  width: 100%;
}

.leaderboard .leadertable {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.leaderboard .difficulty {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
}

.leaderboard .difficulty-btn {
  border-radius: 50px;
  background-color: rgba(17, 7, 30, 0.8);
  padding: 8px 16px;
  color: #FFFF;
}

.leaderboard .difficulty-btn:active {
  scale: 0.95;
}

.leaderboard .difficulty-btn-active {
  border-radius: 50px;
  background-color: #5254D8;
  padding: 8px 16px;
  color: #FFFF;
}

.tablescore {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.3);
}

.tablescore table {
  width: 100%;
  height: 100%;
}

.tablescore thead tr th {
  padding: 16px 0px;
  border: solid white;
  border-width: 0px 2px 0px 0px;
}
.tablescore thead tr th:last-child {
  border-width: 0px;
}

.tablescore tbody {
  text-align: center;
}

.tablescore tr td {
  border: solid rgb(255, 255, 255);
  border-width: 2px 2px 0px 0px;
}

.tablescore .noright {
  border: solid rgb(255, 255, 255);
  border-width: 2px 0px 0px 0px;
}

.leaderboard .pagination {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.leaderboard .pageNumber-btn {
  border-radius: 16px;
  background-color: rgba(17, 7, 30, 0.8);
  padding: 4px 8px;
  color: #FFFF;
}

.leaderboard .pageNumber-btn-active {
  border-radius: 16px;
  background-color: #5254D8;
  padding: 4px 8px;
  color: #FFFF;
}